@font-face {
    font-family: 'Montserrat';
    src: url('/blog/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.tags-columns {
    display: flex;
    flex-wrap: wrap;
}

.tag-column {
    flex: 1 1 50%; /* Two columns */
}
