@font-face {
    font-family: 'Montserrat';
    src: url('/blog/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.tags-columns {
    display: flex;
    flex-wrap: wrap;
}

.tag-column {
    flex: 1 1 50%; /* Two columns */
    max-width: 50%; /* Ensure a maximum of 2 items per column */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    text-align: center;
}

.taxonomy {
    margin-bottom: .5rem;
    align-items: baseline;
    border: 0.1rem solid white;
    padding: 1rem;
}

.taxonomy-metadata {
    margin-top: 0;
    font-size: 0.9em;
    color: #888;
    margin-bottom: 1em; /* Space between metadata and tags-columns */
}

.metadata-box {
    display: flex;
    justify-content: center;
    gap: 1em; /* Small gap between the items */
    font-size: 0.9em;
    color: #888;
    margin-bottom: 1em; /* Space between metadata and tags-columns */
}

.taxonomy-tag {
    display: inline-block;
    border-radius: 3px;
    font-size: 0.9em;
    font-style: italic;
}

.taxonomy-link:hover .taxonomy {
    background-color: #2e2e2e; /* Slightly darker muted gray */
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.5);
}

.taxonomy-summary {
    font-size: 0.85em; /* Smaller font size */
    color: #999;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
}

.tag-article-count {
    font-size: 0.9em;
    color: #999;
}

.taxonomy-link {
    text-decoration: none;
    color: inherit;
}


